*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --background: #000430;
    --secondarybackground: #171c48;
    --text: #fff;
    --purple: #828dff;
    --teal: #24feee;
}

body{
    background-color: var(--background);
    color: var(--text);
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 120px auto 0;
    width: 350px;
}

.stats-container{
    display: flex;
    padding: 30px;
    border-radius: 20px;
    border: 2px solid var(--purple);
    gap: 20px;
    width: 100%;
}

.details{
    width: 100%;
}

#progressBar{
    width: 100%;
    height: 10px;
    background-color: var(--secondarybackground);
    border-radius: 5px;
    margin-top: 15px;
}

#progress{
    width: 0%;
    height: 10px;
    background-color: var(--teal);
    border-radius: 10px;
    transition: width 0.3s ease;
}

.numbers{
    width: 80px;
    height: 80px;
    background-color: var(--purple);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-size: 18px;
    font-weight: bold;
}

form{
    margin-top: 20px;
    display: flex;
    gap: 10px;
    width: 100%;
}

input{
    flex: 1;
    padding: 12px;
    background: var(--secondarybackground);
    border: 1px solid var(--purple);
    border-radius: 10px;
    color: var(--text);
}

button{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: var(--purple);
    color: var(--text);
    font-size: 30px;
    border: none;
    cursor: pointer;
}

#task-list{
    margin-top: 25px;
    width: 100%;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.task-item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--secondarybackground);
    padding: 10px;
    border-radius: 10px;
}

.task{
    display: flex;
    align-items: center;
    gap: 10px;
}

.checkbox{
    accent-color: var(--teal);
}
