*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --background: #000430;
    --secondarybackground: #171c48;
    --text: #fff;
    --purple: #828dff;
    --teal: #24feee;
}

body{
    background-color: var(--background);
    color: var(--text);
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 120px auto 0;
    width: 350px;
}

.stats-container{
    display: flex;
    padding: 30px;
    border-radius: 20px;
    border: 2px solid var(--purple);
    gap: 20px;
    width: 100%;
}

.details{
    width: 100%;
}

#progressBar{
    width: 100%;
    height: 10px;
    background-color: var(--secondarybackground);
    border-radius: 5px;
    margin-top: 15px;
}

#progress{
    width: 0%;
    height: 10px;
    background-color: var(--teal);
    border-radius: 10px;
    transition: width 0.3s ease;
}

.numbers{
    width: 80px;
    height: 80px;
    background-color: var(--purple);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-size: 18px;
    font-weight: bold;
}
